extends ../_layouts/layout.jade

block title
    title Богдан Пономаренко

block content
    .about
       .about__block
            h1.container-name.container-name_blue Обо мне
            .about__pics
                ul.about__pics__list
                    li.about__pics-item
                    // svg
                    li.about__pics-item
                    // svg
                    li.about__pics-item
                    // img
                    li.about__pics-item
                    // svg
                    li.about__pics-item
                    // svg
            .about__text
                p Привет! Меня зовут Богдан, мне 19 лет и я веб-разработчик. Я обожаю спорт, музыку, математику и, естественно, программирование. Пролистнув ниже ты можешь увидеть мои работы. Но это не конец, я постоянно самосовершенствуюсь :)          Поэтому если ты хочешь доверить мне создания сайта для себя, бабушки, своего интернет-магазина или же просто хочешь пообщаться, то отправь мне письмо через контактую форму внизу страницы и я обязательно свяжусь с тобой! Если же ты начинающий веб-разработчик или программист, то мой тебе совет: нажми сюда и перед тобой откроется удивительный мир интернет-технологий. Успехов!
        .about__block
            h1.container-name.container-name_blue Навыки
            ul.about__skills__list
                li.about__skills-item
                    span HTML
                    .about__skills-line
                        .about__skills-innerLine.about__skills-innerLine_html
                li.about__skills-item
                    span CSS
                    .about__skills-line
                        .about__skills-innerLine.about__skills-innerLine_css
                li.about__skills-item
                    span JAVASCRIPT
                    .about__skills-line
                        .about__skills-innerLine.about__skills-innerLine_javascript
                li.about__skills-item
                    span PHP
                    .about__skills-line
                        .about__skills-innerLine.about__skills-innerLine_php
                li.about__skills-item
                    span WORDPRESS
                    .about__skills-line
                        .about__skills-innerLine.about__skills-innerLine_wordpress
                li.about__skills-item
                    span WEB-ДИЗАЙН
                    .about__skills-line
                        .about__skills-innerLine.about__skills-innerLine_webdesign
    .portfolio
        .portfolio__block
            h1.container-name.container-name_white Работы
            ul.portfolio__list
                li.portfolio__list-item
                    a(href="#").portfolio__list-link
                        img(src="http://lorempixel.com/1600/900/cats")
                        .link-name Sitename
                li.portfolio__list-item
                    a(href="#").portfolio__list-link
                        img(src="http://lorempixel.com/1600/900/cats")
                        .link-name Sitename
                li.portfolio__list-item
                    a(href="#").portfolio__list-link
                        img(src="http://lorempixel.com/1600/900/cats")
                        .link-name Sitename
                li.portfolio__list-item
                    a(href="#").portfolio__list-link
                        img(src="http://lorempixel.com/1600/900/cats")
                        .link-name Sitename
                li.portfolio__list-item
                    a(href="#").portfolio__list-link
                        img(src="http://lorempixel.com/1600/900/cats")
                        .link-name Sitename
            .feedback
                a(href="#").feedback-link Связаться
