// =======================
// Layout/About
// =======================



.about__block {
  margin-bottom: 45px;
}

.photo {
  border-radius: 50%;
  width: 75%;
}

// Coding about pics
.about__pics {
  &-item {
    text-align: center;
    margin-bottom: 30px;
    svg {
      width: 100%;
      fill: $light-brown;
    }
  }
}
// end code

.about__text {
  text-align: center;
  font-family: 'open_sansregular';
  a {
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
}

.about__skills-item {
  color: $dark-blue;
  margin-bottom: 10px;

  span {
    margin-bottom: 5px;
    display: block;
  }
  &:hover {
    .about__skills-innerLine_html {
      width: 80%;
    }
  }
}

.about__skills-line {
  background-color: palette(grey, x-ligth);

}

.about__skills__list_animate {
  .about__skills-innerLine {
    &_html {
      width: 80%;
    }
    &_css {
      width: 70%;
    }
    &_javascript {
      width: 65%;
    }
    &_php {
      width: 65%;
    }
    &_wordpress {
      width: 65%;
    }
    &_webdesign {
      width: 50%;
    }
  }
}

.about__skills-innerLine {
  height: 4px;
  background-color: $brown;
  transition: all 1s linear;
  width: 0;
}

@media screen and (min-width: 768px) {
  .about__text {
    font-size: 24px;
  }
  .about__skills-item {
    span {
      font-size: 24px;
    }
  }
  .about__block {
    margin-bottom: 75px;
  }
  .about__pics {
    &-item {
      display: inline-block;
      width: 49%;
      &_photo {
        display: block;
        margin: 0 auto 15px;
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .about {
    width: 960px;
  }
  .about__skills-item {
    display: inline-block;
    width: 45%;
    margin-left: 4%;
    span {
      font-size: 28px;
    }
  }
  .about__pics {
    &-item {
      vertical-align: middle;
      display: inline-block;
      width: 18%;
      svg {
        width: 75%;
      }
      &_photo {
        display: inline-block;
        width: 25%;
        & .photo {
          width: 100%;
        }
      }
    }
  }
}